
.product{
  width: 100%;
  margin-top: 90px;
  grid-template-columns: repeat(4, 1fr); 
  gap:40px;
  width: 90%;
  max-width: 1200px;
  display: grid;
  margin-left: 55px;
  
}





  @media screen and (max-width: 768px) {
    .product-card {
      width: 45%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .product-card { 
      width: 100%;
    }
  }



  

 /* .product-grid1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 50px auto;
  padding: 20px;
  width: 90%;
  max-width: 1200px;
}

.product-item {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.product-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.product-image1 {
  height: 65%;  
  position: relative;
}

.product-image1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-bottom: 1px solid #e0e0e0;
}

.product-item:hover .product-image1 img {
  transform: scale(1.05);
}


.buy-button {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.product-item:hover .buy-button {
  display: block;
}

.buy-button:hover {
  background-color: #218838;
  transform: scale(1.05);
}


.product-details {
  height: 35%;  
  padding: 15px;
  text-align: center;
}

.product-item h3 {
  font-size: 1.2rem;
  color: #333;
  margin: 10px 0;
}

.product-item p {
  font-size: 1rem;
  color: #777;
}

.price1 {
  font-size: 1.2rem;
  color: #28a745;
  margin-top: 10px;
  font-weight: bold;
}



    */